<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/products/raw']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Insumos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['disposable']" routerLinkActive="active">Descartables</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['papers']" reouterLinkActive="active">Papeles</a>
  </li>
</ul>

<div>
    <router-outlet></router-outlet>
</div>
