.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
  padding-left: 0;
  padding-right: 0;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  color: #fff;
  cursor: default;
  background-color: #0275d8;
}

.sidebar .nav-link {
  border-radius: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}
