<div class="sidebar" role="navigation">
  <div class="sidebar-nav">
    <ul class="nav flex-column" id="side-menu">

      <li class="nav-item sidebar-search">
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Buscar...">
        </div>
      </li>

      <li *ngFor="let item of sidebar" class="nav-item">
        <a data-toggle="collapse" [href]="'#' + item.name" aria-expanded="false" aria-controls="collapseExample">
          <i [class]="'fa fa-' + item.icon + ' fa-fw'"></i> {{item.name}}<span class="fa arrow"></span>
        </a>
        <ul class="collapse nav-second-level" [id]="item.name">
          <li *ngFor="let child of item.items" class="nav-item">
            <a [routerLink]="[child.url]">{{child.name}}</a>
          </li>
        </ul>
      </li>

    </ul>
  </div>
</div>
