$fa-font-path: "../node_modules/font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";
@import "~bootstrap/scss/bootstrap";

body {
  background-color: rgb(248, 248, 248);
}

#wrapper {
  border-bottom: 1px solid #e7e7e7;
  width: 100%;
}

#content {
  min-height: 385px;
  position: inherit;
  margin: 0 0 0 250px;
  padding: 5px;
  border-left: 1px solid #e7e7e7;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  .card {
    margin-bottom: 5px;
  }
  @include media-breakpoint-down(md) {
    border: none;
    margin: 0;
  }
}

// ng2-smart-table
.ng2-smart-table {
  margin: 0;
  min-width: 800px;

  select.form-control:not([size]):not([multiple]) {
    padding: .375em .75em;
    height: 30px;
  }

  .ng2-smart-actions {
    vertical-align: middle;
  }
}

// utils
.overflow {
  overflow: auto;
}
