<div class="card">
  <div class="card-header">
    Producto
  </div>
  <div *ngIf="form" class="card-block">
    <form [formGroup]="form">

      <!-- Name -->
      <div class="form-group row">
        <label for="name" class="col-2 col-form-label">Nombre</label>
        <div class="col-10">
          <input formControlName="name" class="form-control" type="text" id="name">
        </div>
      </div>

      <!-- Description -->
      <div class="form-group row">
        <label for="type" class="col-2 col-form-label">Tipo</label>
        <div class="col-10">
          <select formControlName="type" class="form-control" id="exampleSelect1">
            <option value="simple">Simple</option>
            <option value="combination">Combinación</option>
          </select>
        </div>
      </div>

    </form>
  </div>
</div>

<div class="card">
  <div class="card-header">
    Insumos
  </div>
  <div class="card-block p-0">
    <app-subproducts [product]="product | async"
                     (changeSubproducts)="onChangeSubproducts($event)">
    </app-subproducts>
  </div>
  <div *ngIf="price && price > 0" class="card-footer">
    <p class="text-muted text-right m-0">
      Total <strong>{{price.toFixed(2)}}</strong>
    </p>
  </div>
</div>

<div class="p-3 text-right">
  <button (click)="onSave()" [disabled]="!form || !form.valid" class="btn btn-primary">Guardar</button>
</div>
